<div class="card">
  <!-- Agrega aquí los elementos HTML para mostrar las variables -->
  <p>ID: {{card.ID_Usuario}}</p>
  <p>Nombre: {{ card.Nombre }}</p>
  <p>Cultivo: {{ card.tipocultivo }}</p>
  <p>Valor: {{ card.ValorActual }}</p>
  <p>Minimo: {{ card.MinRequerido }} Máximo: {{card.MaxRequerido}}</p>

  <!-- Agrega aquí los botones si es necesario -->
  <button (click)="botonBorrar()">Borrar</button>
  <button (click)="botonEditar()">Editar</button>
  <button (click)="botonVer()">Ver</button>
  
</div>